# **Import Libraries**

In [1]:
import pandas as pd
import numpy as np

# **Load Data**

In [2]:
provinsi_df = pd.read_csv('provinsi.csv')
kabupaten_df = pd.read_csv('kabupaten.csv')
makanan_khas_df = pd.read_csv('makanan_khas.csv')
image_link_df = pd.read_csv('image_link.csv')
restaurant_df = pd.read_csv('restaurant.csv')
reting_df = pd.read_csv('reting.csv')

# **Inspect Individual Datasets:**

In [3]:
print(provinsi_df.head())
print(provinsi_df.info())
print(provinsi_df.describe())

print(kabupaten_df.head())
print(kabupaten_df.info())
print(kabupaten_df.describe())

print(makanan_khas_df.head())
print(makanan_khas_df.info())
print(makanan_khas_df.describe())

print(image_link_df.head())
print(image_link_df.info())
print(image_link_df.describe())

print(restaurant_df.head())
print(restaurant_df.info())
print(restaurant_df.describe())

print(reting_df.head())
print(reting_df.info())
print(reting_df.describe())

   id_provinsi   nama_provinsi
0           11            ACEH
1           12  SUMATERA UTARA
2           13  SUMATERA BARAT
3           14            RIAU
4           15           JAMBI
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_provinsi    34 non-null     int64
 1   nama_provinsi  34 non-null     object
dtypes: int64(1), object(1)
memory usage: 672.0+ bytes
None
       id_provinsi
count    34.000000
mean     47.558824
std      26.501219
min      11.000000
25%      19.500000
50%      51.500000
75%      71.750000
max      94.000000
   id_kabupaten  id_provinsi           nama_kabupaten
0          1101           11       KABUPATEN SIMEULUE
1          1102           11   KABUPATEN ACEH SINGKIL
2          1103           11   KABUPATEN ACEH SELATAN
3          1104           11  KABUPATEN ACEH TENGGARA
4          1105           11     KABUPATEN ACEH TIMUR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_kabupaten    514 non-null    int64
 1   id_provinsi     514 non-null    int64
 2   nama_kabupaten  514 non-null    object
dtypes: int64(2), object(1)
memory usage: 12.2+ KB
None
       id_kabupaten  id_provinsi
count    514.000000   514.000000
mean    4574.256809    45.529183
std     2680.914631    26.841171
min     1101.000000    11.000000
25%     1804.250000    18.000000
50%     3571.500000    35.000000
75%     7194.250000    71.750000
max     9471.000000    94.000000
   id_makanan       makanan_khas  \
0           1       Sate Bandeng
1           2              Rabeg
2           3         Gerem Asem
3           4       Ketan Bintul
4           5  Nasi Bakar Sumsum

                                           deskripsi
0  Sate yang terbuat dari ikan bandeng, santan, d...
1  Makanan yang bahan dasarnya daging dan jeroan ...
2                 Masakan dengan rasa asam yang khas
3  Makanan dari beras ketan yang dibumbui dan dib...
4                    Nasi yang dibakar dengan sumsum
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_makanan    41 non-null     int64
 1   makanan_khas  41 non-null     object
 2   deskripsi     41 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.1+ KB
None
       id_makanan
count   41.000000
mean    21.000000
std     11.979149
min      1.000000
25%     11.000000
50%     21.000000
75%     31.000000
max     41.000000
                            id_makanan,"image_link";
0  1,"https://images.app.goo.gl/pGZeWe559XyGbMqD6" ;
1   2,"https://images.app.goo.gl/kwBpGWcqmh5PeeGG8";
2  3,"https://images.app.goo.gl/ApzSLFHboNyStntc9 ";
3  4,"https://images.app.goo.gl/vqbP132yoDmFtocj9 ";
4   5,"https://images.app.goo.gl/7jUR1ptRfVXrVqGY6";
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 1 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_makanan,"image_link";  41 non-null     object
dtypes: object(1)
memory usage: 456.0+ bytes
None
                                 id_makanan,"image_link";
count                                                  41
unique                                                 41
top     1,"https://images.app.goo.gl/pGZeWe559XyGbMqD6" ;
freq                                                    1
   id_restaurant  id_reting  id_makanan  id_provinsi  id_kabupaten  \
0              1          1           1           36          3673
1              2          2           1           36          3673
2              3          3           1           36          3673
3              4          4           2           36          3673
4              5          5           2           36          3673

                               nama_tempat  \
0           Sate Bandeng Ibu Amenah Serang
1  Sate Bandeng - Bekakak Ayam Hj. Mariyam
2                  Sate Bandeng Ibu Aliyah
3   Rabeg Khas Serang H. Naswi (Magersari)
4      Warung Dahar Rabeg Khas Wong Banten

                                              alamat        long       lat
0  Jl. Sayabulu km 1, Lingk No.11, RT.2/RW.1, Dal...  106.149564 -6.143376
1  Tengah, Jl. Ki Uju No.63, RT.003/RW.002, Tenga...  106.150161 -6.120695
2  Jl. Lopang Gede III, Lopang, Kec. Serang, Kota...  106.157729 -6.106640
3  Jl. Mayor Safei No.30, Kotabaru, Kec. Serang, ...  106.152353 -6.112720
4  Jalan Ayip Usman, Link. Cikepuh, Unyur, Kec. S...  106.170051 -6.105310
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_restaurant  215 non-null    int64
 1   id_reting      215 non-null    int64
 2   id_makanan     215 non-null    int64
 3   id_provinsi    215 non-null    int64
 4   id_kabupaten   215 non-null    int64
 5   nama_tempat    215 non-null    object
 6   alamat         215 non-null    object
 7   long           215 non-null    float64
 8   lat            215 non-null    float64
dtypes: float64(2), int64(5), object(2)
memory usage: 15.2+ KB
None
       id_restaurant   id_reting  id_makanan  id_provinsi  id_kabupaten  \
count     215.000000  215.000000  215.000000   215.000000    215.000000
mean      108.000000  108.004651   18.344186    33.553488   3410.832558
std        62.209324   62.214619   12.192485     1.728182    171.370697
min         1.000000    1.000000    1.000000    31.000000   3171.000000
25%        54.500000   54.500000    8.000000    32.000000   3273.000000
50%       108.000000  108.000000   18.000000    34.000000   3402.000000
75%       161.500000  161.500000   28.000000    35.000000   3572.000000
max       215.000000  215.000000   41.000000    36.000000   3673.000000

             long         lat
count  215.000000  215.000000
mean   105.080824   -3.099698
std     20.882040   20.876903
min     -7.825709   -8.003713
25%    106.786608   -7.570374
50%    107.664481   -6.907587
75%    110.434573   -6.192507
max    112.771178  110.403326
   id_reting  nilai  jumlah_reting
0          1      5            228
1          2      5            642
2          3      4            952
3          4      4           1006
4          5      4            220
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_reting      215 non-null    int64
 1   nilai          215 non-null    int64
 2   jumlah_reting  215 non-null    int64
dtypes: int64(3)
memory usage: 5.2 KB
None
        id_reting       nilai  jumlah_reting
count  215.000000  215.000000     215.000000
mean   108.000000    4.469767     873.218605
std     62.209324    0.960805    2830.810564
min      1.000000    0.000000       0.000000
25%     54.500000    4.000000       9.000000
50%    108.000000    5.000000      59.000000
75%    161.500000    5.000000     469.000000
max    215.000000    5.000000   27861.000000

# **Identify Data Types and Columns with Issues**

In [4]:
print(provinsi_df.dtypes)
print(kabupaten_df.dtypes)
print(makanan_khas_df.dtypes)
print(image_link_df.dtypes)
print(restaurant_df.dtypes)
print(reting_df.dtypes)

id_provinsi       int64
nama_provinsi    object
dtype: object
id_kabupaten       int64
id_provinsi        int64
nama_kabupaten    object
dtype: object
id_makanan       int64
makanan_khas    object
deskripsi       object
dtype: object
id_makanan,"image_link";    object
dtype: object
id_restaurant      int64
id_reting          int64
id_makanan         int64
id_provinsi        int64
id_kabupaten       int64
nama_tempat       object
alamat            object
long             float64
lat              float64
dtype: object
id_reting        int64
nilai            int64
jumlah_reting    int64
dtype: object

# **Missing Data & Duplicate Data**

provinsi_df

In [5]:
provinsi_df.isnull().sum()

id_provinsi      0
nama_provinsi    0
dtype: int64

In [6]:
provinsi_df.duplicated().sum()

0

kabupaten_df

In [7]:
kabupaten_df.isnull().sum()

id_kabupaten      0
id_provinsi       0
nama_kabupaten    0
dtype: int64

In [8]:
kabupaten_df.duplicated().sum()

0

makanan_khas_df

In [9]:
makanan_khas_df.isnull().sum()

id_makanan      0
makanan_khas    0
deskripsi       0
dtype: int64

In [10]:
makanan_khas_df.duplicated().sum()

0

image_link_df

In [11]:
image_link_df.isnull().any(axis=1).sum()

0

In [12]:
image_link_df.duplicated().sum()

0

restaurant_df

In [13]:
restaurant_df.isnull().sum()

id_restaurant    0
id_reting        0
id_makanan       0
id_provinsi      0
id_kabupaten     0
nama_tempat      0
alamat           0
long             0
lat              0
dtype: int64

In [14]:
restaurant_df.duplicated().sum()

0

rating_df

In [15]:
reting_df.isnull().sum()

id_reting        0
nilai            0
jumlah_reting    0
dtype: int64

In [16]:
reting_df.duplicated().sum()

0